{
    "parser" : "@typescript-eslint/parser",
    "plugins": ["jest", "@typescript-eslint"],
    "env": {
        "browser" : true,
        "commonjs": true,
        "node": true,
        "jest": true,
        "jest/globals": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:jest/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "space-before-function-paren": ["error", "always"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "brace-style": "error",
        "space-before-blocks" : "error",
        "comma-dangle": ["error", "never"],
        "array-bracket-spacing": ["error", "never", {}],
        "space-infix-ops": ["error", {"int32Hint": false}],
        "no-console": "off",
        "indent": ["error", 4],
        "key-spacing": ["error", {
            "beforeColon": true,
            "afterColon": true,
            "mode": "strict"
        }],
        "@typescript-eslint/no-explicit-any": "off"
    },
    "globals" : {
        "NODE_ENV" : false,
        "expect" : false,
        "test" : false,
        "console" : false
    }
}